@{
    ViewData["Title"] = "Home Page";
}
<h2>LOGIN</h2>

    <div>@Html.Label("Login name")</div>
    <div>@Html.TextBox("name")</div>
    <div>@Html.Label("Password")</div>
    <div>@Html.TextBox("password")</div>
    <input type="submit" value="Login" />

